doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet",
         href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css", 
         integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", 
         crossorigin="anonymous")
    link(rel="stylesheet", href="/css/all.css")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
    meta(name="description" content="Self-hosted developer toolchain around Git and Docker.")
    meta(name="keywords" content="Git, Docker, software development, project management")
    title.
      Giterica :: Self-hosted developer toolchain around Git and Docker.
  body
    .container
      .row.justify-content-center.align-self-center
        .col-xl-12.text-center
          h1.
            Giterica
        .col-xl-12.text-center
          p
            | Self-hosted developer toolchain around Git and Docker.
        .col-xl-12.text-center
          pre.
            In development, no estimations.
            [###..........................]
          .dev
            a(href="https://github.com/giterica")
              i.fab.fa-github-square
            |  
            a(href="https://hub.docker.com/r/giterica/")
              i.fab.fa-docker
          .license
            i.fas.fa-balance-scale
            |  MIT
